*{
    margin: 0;
    padding: 0;
    font-family: "vollkorn", sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}

html{
    font-size: 62.5%;
}

:root{
    --primary-color: #2d9e80;
    --secondary-color: #eee;
    --white-color:#fff;
    --grey-color:#555;
    --light-grey-color:#777;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: var(--secondary-color);
    margin: 2.5rem;
    box-shadow: 0 1rem 3rem var(--grey-color); 
    overflow: hidden;
}

.header{
    width: 100%;
    height: calc(100vh - 5rem);
    background: 
    linear-gradient(rgba(18,113,255,0.5), rgba(18,113, 255,0.3)), 
    url(images/header-bg.jpg) center no-repeat;
    background-size: cover;
    position: relative;
    perspective: 100rem;
}

.header-text{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-shadow: 0 .3rem .5rem var(--grey-color);

}

.heading{
    font-size: 8rem;
    color: var(--white-color)
}

.header-paragraph{
    font-size: 3rem;
    font-weight: 500;
    color: var(--secondary-color);
    max-width: 70rem; 
}

.logo{
    position: absolute;
    top: 4rem;
    right: 4rem;
}

.logo h1{
    display: flex;
}
.logo h1 span{
    font-size: 1.7rem;
    font-weight: 900;
    color: var(--primary-color);
    text-transform: uppercase;
    background-color: var(--white-color);
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    margin: .5rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

    
}

.logo span:nth-child(1){
    animation: logo-dingle 5s  .1s infinite;
}

.logo span:nth-child(2){
    animation: logo-dingle 5s  .2s infinite;
}

.logo span:nth-child(3){
    animation: logo-dingle 5s  .3s infinite;
}

.logo span:nth-child(4){
    animation: logo-dingle 5s  .4s infinite;
}

.logo span:nth-child(5){
    animation: logo-dingle 5s  .5s infinite;
}

.logo span:nth-child(6){
    animation: logo-dingle 5s  .6s infinite;
}

.logo span:nth-child(7){
    animation: logo-dingle 5s  .7s infinite;
}

.header-image{
    width: 35%;
    animation: balloon 150s infinite;

}


@keyframes logo-dingle {

    0%{
        transform: translateY(0);
    }

    10%{
        transform: translateY(0);
    }

    15%{
        transform: translateY(-100%);
    }

    20%{
        transform: translateY(0);
    }

    30%{
        transform: translateY(0);
    }
    

    100%{
        transform: translateY(0);
    }


    
}


@keyframes balloon {
    
    0%{
        transform: translateZ(40rem);
        opacity: 1;
    }

    40%{
        transform: translateZ(-500rem) 
        translateX(150rem);
        opacity: .8;
    }

    70%{
        transform: translateZ(-1500rem)
        translateX(800rem);
        opacity: .6;
    }

    80%{
        transform: translateZ(-50rem)
        translateX(100rem);
        opacity: .8;
    }

    0%{
        transform: translateZ(40rem);
        opacity: 1;
    }
}

/* Start Popular tour section */
section.popular-tour{
    padding-bottom: 10rem;
    
}
h1.popular-tour-heading{
    font-size: 4rem;
    text-align: center;
    color: var(--primary-color);
    text-transform: capitalize;
    margin: 5rem 0;
    
}


.cards-wrapper{
    display: flex;
    justify-content: space-evenly;
}

.card{
    width: 30rem;
    position: relative;
    border-radius: .5rem;
    perspective: 150rem;
}

.card-image{
    width: 100%;
    border-radius: .5rem .5rem 0 0;
}

.front-side{
    text-align: center;
    background-color: var(--white-color);
    position: relative;
    z-index: 10;
    height: 100%;
    opacity: .9;
    transition: opacity .5s, transform .5s, box-shadow .5s;
}

.change > .front-side{
    transform: translateZ(-5rem) translateX(3rem);
    box-shadow: 0 2rem 4rem #777;
    opacity: 0.5;
    z-index: 0;
}

.tour-name{
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    right: 1rem;
    color: var(--white-color);
    text-shadow: 0 0 1rem #000;
}

.card-list{
    width: 80%;
    margin: auto;
    padding: 2rem 0.3rem 0;
}

.card-list-item{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--light-grey-color);
    margin: 1rem 0;
    border-bottom: 0.1rem solid var(--primary-color);
    padding-bottom: 1rem;
}

.back-side{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    box-shadow: 0 2rem 4rem #777;
    border-radius: .5rem;
    flex-direction: column;
    transform: translateZ(-5rem) translateX(3rem);
    opacity: .5;
    transition: all .5s;
}

.change > .back-side{
    transform: translateZ(0) translateX(0);
    box-shadow: 0 .5rem 2rem #aaa;
    opacity: 0.9;

}


.tour-price{
    font-size: 3rem;
    font-weight: 500;
    color: var(--white-color);
    margin-bottom: 2rem;
}

.card-button{
    color: var(--primary-color);
    background-color: var(--white-color);
    border:none;
    font-size: 2.5rem;
    border-radius: 5rem;
    padding: .5rem 1rem;
    cursor: pointer;
}

.navigation-button{
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: .5rem;
    background-color: rgba(--white-color);
    border-radius: .3rem;
    border:none;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    cursor: pointer; 
}
/* EndPopular tour section */

/* Storie */

.stories{
    padding: 10rem 0; 
    position: relative;
}

.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
}

.bg-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.stories-wrapper{

    display: flex;
    flex-direction: column;
    align-items: center;
}

.story-bg{
    background-color: rgba(238, 238, 238, .85);
    width: 70%;
    padding: 2rem;
    margin: 5rem;
    box-shadow: 0 2rem 5rem rgba(51, 51,51, .4 );
    transform: skewX(20deg);
}

.story-bg > *  {
    transform: skewX(-20deg);
}
.story-text{
    letter-spacing: 0.1rem;
}
.story{
    display: flex;
}
.story-image{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 3rem;
}

.story-heading{
    font-size: 1.8rem;
    text-transform: uppercase;
    color: var(--light-grey-color);
    margin-bottom: 1rem;
}

.story-paragraph{
    font-size: 1.6rem;
    color: var(--light-grey-color);
}

.story-paragraph::first-letter{
    font-size: 4rem;
   
}


 
/* End of Storie */
    