*{
    margin: 0;
    padding: 0;
    font-family: "vollkorn", sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}

html{
    font-size: 62.5%;
}

:root{
    --primary-color: #2d9e80;
    --secondary-color: #eee;
    --white-color:#fff;
    --grey-color:#555;
    --light-grey-color:#777;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: var(--secondary-color);
    margin: 2.5rem;
    box-shadow: 0 1rem 3rem var(--grey-color)
}

.header{
    width: 100%;
    height: calc(100vh - 5rem);
    background: 
    linear-gradient(rgba(18,113,255,0.5), rgba(18,113, 255,0.3)), 
    url(images/header-bg.jpg) center no-repeat;
    background-size: cover;
    position: relative;
}

.header-text{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-shadow: 0 .3rem .5rem var(--grey-color);

}

.heading{
    font-size: 8rem;
    color: var(--white-color)
}

.header-paragraph{
    font-size: 3rem;
    font-weight: 500;
    color: var(--secondary-color);
    max-width: 70rem; 
}

.logo{
    position: absolute;
    top: 4rem;
    right: 4rem;
}

.logo h1{
    display: flex;
}
.logo h1 span{
    font-size: 1.7rem;
    font-weight: 900;
    color: var(--primary-color);
    text-transform: uppercase;
    background-color: var(--white-color);
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    margin: .5rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

    
}

.logo span:nth-child(1){
    animation: logo-dingle 5s  .1s infinite;
}

.logo span:nth-child(2){
    animation: logo-dingle 5s  .2s infinite;
}

.logo span:nth-child(3){
    animation: logo-dingle 5s  .3s infinite;
}

.logo span:nth-child(4){
    animation: logo-dingle 5s  .4s infinite;
}

.logo span:nth-child(5){
    animation: logo-dingle 5s  .5s infinite;
}

.logo span:nth-child(6){
    animation: logo-dingle 5s  .6s infinite;
}

.logo span:nth-child(7){
    animation: logo-dingle 5s  .7s infinite;
}

.header-image{
    width: 35%;
}


@keyframes logo-dingle {

    0%{
        transform: translateY(0);
    }

    10%{
        transform: translateY(0);
    }

    15%{
        transform: translateY(-100%);
    }

    20%{
        transform: translateY(0);
    }

    30%{
        transform: translateY(0);
    }
    

    100%{
        transform: translateY(0);
    }
    
}
 